[submodule "vendor/node"]
	path = vendor/node
	url = https://github.com/quentum/node.git
[submodule "vendor/testing"]
	path = vendor/testing
	url = https://chromium.googlesource.com/chromium/src/testing
[submodule "vendor/build"]
	path = vendor/build
	url = https://chromium.googlesource.com/chromium/src/build
[submodule "vendor/base"]
	path = vendor/base
	url = https://chromium.googlesource.com/chromium/src/base
[submodule "vendor/v8"]
	path = vendor/v8
	url = https://chromium.googlesource.com/v8/v8.git
